NewsClient/Connected Services/NewsClientRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="NewsServiceWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_INewsServiceWCF_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NewsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsServiceWCF_GetArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticles" />
  </wsdl:message>
  <wsdl:message name="INewsServiceWCF_GetArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="INewsServiceWCF_PostArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:PostArticle" />
  </wsdl:message>
  <wsdl:message name="INewsServiceWCF_PostArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostArticleResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsServiceWCF">
    <wsdl:operation name="GetArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsServiceWCF/GetArticles" message="tns:INewsServiceWCF_GetArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsServiceWCF/GetArticlesResponse" message="tns:INewsServiceWCF_GetArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsServiceWCF/PostArticle" message="tns:INewsServiceWCF_PostArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsServiceWCF/PostArticleResponse" message="tns:INewsServiceWCF_PostArticle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsServiceWCF" type="tns:INewsServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArticles">
      <soap:operation soapAction="http://tempuri.org/INewsServiceWCF/GetArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostArticle">
      <soap:operation soapAction="http://tempuri.org/INewsServiceWCF/PostArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_INewsServiceWCF" type="tns:INewsServiceWCF">
    <wsp:PolicyReference URI="#NetTcpBinding_INewsServiceWCF_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetArticles">
      <soap12:operation soapAction="http://tempuri.org/INewsServiceWCF/GetArticles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostArticle">
      <soap12:operation soapAction="http://tempuri.org/INewsServiceWCF/PostArticle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsServiceWCF">
    <wsdl:port name="BasicHttpBinding_INewsServiceWCF" binding="tns:BasicHttpBinding_INewsServiceWCF">
      <soap:address location="http://localhost/Temporary_Listen_Addresses/news/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_INewsServiceWCF" binding="tns:NetTcpBinding_INewsServiceWCF">
      <soap12:address location="net.tcp://localhost:3579/news/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:3579/news/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>